<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="ToDos.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let ToDo of ToDos">
    <mat-expansion-panel-header>
      {{ ToDo.status}}
    </mat-expansion-panel-header>

    <p>{{ ToDo.description }}</p>

  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="ToDos.length <= 0 && !isLoading">No ToDos added yet!</p>
