<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveToDo()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="status" placeholder="ToDo status">
      <mat-error *ngIf="form.get('status').invalid">Please enter a ToDo status.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="description" placeholder="ToDo description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">Please enter a ToDo description.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save ToDO</button>
  </form>
</mat-card>
